<a href="https://colab.research.google.com/github/jopedro0/atividades-em-python/blob/main/exercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = int(input('digite um número:'))

print(f'o sucessor de {n} é {n+1} e seu antecessor é {n-1}')

digite um número:5
o sucessor de 5 é 6, e seu antecessor é 4

In [ ]:
n = int(input('digite um número:'))

print(f'o dobro de {n} é {n*2}, o triplo é {n*3} e sua raiz quadrada é {n**(1/2)}')

digite um número:144
o dobro de 144 é 288, o triplo é 432 e sua raiz quadrada é 12.0

In [ ]:
n1 = float(input('nota 1:'))
n2 = float(input('nota2:'))
m = (n1+n2)/2
print(f'sua média é: {m}')

nota 1:3
nota2:4
sua média é: 3.5

In [ ]:
m = float(input('digite um valor em metros: '))
cm = m*100
mm = m*1000

print(f'{m} metros equivale a {cm} centímetros ou {mm} milimetros')

digite um valor em metros: 5.4
5.4 metros equivale a 540.0 centímetros ou 5400.0 milimetros

In [ ]:
n = int(input('digite para saber sua tabuada:'))

print(f'A tabuada de {n} é : \n |{n*1}|\n |{n*2}|\n |{n*3}|\n |{n*4}|\n |{n*5}|\n |{n*6}|\n |{n*7}|\n |{n*8}|\n |{n*9}|\n |{n*10}|')

digite para saber sua tabuada:9
A tabuada de 9 é :
 |9|
 |18|
 |27|
 |36|
 |45|
 |54|
 |63|
 |72|
 |81|
 |90|

In [ ]:
r = int(input('quantos reais você tem na carteira? '))
d = r//4.90

print(f'{r} reais equiavle a {d} dolares')

quantos reais você tem na carteira? 30
30 reais equiavle a 6.0 dolares

In [ ]:
from re import A
l = float(input('digite a lagura da parede: '))
a = float(input('digite a altura da parede: '))
ap = l*a
tn = ap/2

print(f'Sua parede tem {ap} metros quadrados. São necessários {tn} litros de tinta para pinta-la.')

digite a lagura da parede: 2.5
digite a altura da parede: 1.75
Sua parede tem 4.375 metros quadrados. São necessários 2.1875 litros de tinta para pinta-la.

In [ ]:
p = float(input('digite o preço de um produto: '))
np = p-(p*5/100)
print(f'com um desconto de 5% o novo preço do produto é:{np}')

digite o preço de um produto: 546
com um desconto de 5% o novo preço do produto é:518.7

In [ ]:
s = int(input('qual é o seu salário: '))
ns = s+(s*15/100)

print(f'Após um aumento de 15%, seu salário atual é {ns}')

qual é o seu salário: 4319
Após um aumento de 15%, seu salário atual é 4966.85

In [14]:
c = float(input('qual a temperatura em celsius:'))
f = (c * 9/5)+32
k = c + 273.15

print('Em qual escala vocẽ deseja ver a temperatura atual? \n')

t = str(input())

if t == 'kelvin'  :
  print(f'A temperatura atual de {c} graus celsius, covertida para kelvin é de {k} graus kelvin')

elif t == 'fahrenheit' or 'fh' :
  print(f'A temperatura atual de {c} graus celsuis, convertida para fahrenheint é de {f} graus fahrenheint')

qual a temperatura em celsius:77
Em qual escala vocẽ deseja ver a temperatura atual?

fh
A temperatura atual de 77.0 graus celsius, covertida para kelvin é de 350.15 graus kelvin

In [ ]:
d = int(input('quantos dias o carro ficou alugado:'))
km = float(input('quantos km foram rodados:'))
tp = (d*60) + (km*0.15)

print(f'o total a pagar é de {tp}R$')

quantos dias o carro ficou alugado:4
quantos km foram rodados:300
o total a pagar é de 285.0R$

In [ ]:
from math import trunc
num = float(input('digite um número: '))
ni = trunc(num)

print(f'o número {num} tem a parte inteira {ni}')

digite um número: 3.9846549
o número 3.9846549 tem a parte inteira 3

In [ ]:
from random import randint
na = int(input('quantos alunos?'))
s = randint(1,na)
print(f'o aluno sorteado para apagar o quadro foi o aluno {s}')

quantos alunos?43
o aluno sorteado para apagar o quadro foi o aluno 30

In [ ]:
from math import hypot
cto = float(input())
cta = float(input())
hi = hypot(cto, cta)

print(f'hipotenusa mede: {hi:.2f}')

3.5
4.75
hipotenusa mede: 5.90